PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://290afdee309436b0701da5ad5ce280ae2264e48e6a036423ea77921a290285ad:sk_3U3BQfxf-an84gOq6ceGK@db.prisma.io:5432/postgres?sslmode=require"
BETTER_AUTH_SECRET=dYql4oopsRYo70o9qiERD1ipBISwy6lR
BETTER_AUTH_URL=http://localhost:5000